html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before,
body,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-color: rgb(255, 126, 5);
}

li {
  list-style: none;
}

@font-face {
  font-family: "bradhitc";
  src: url("../font/bradhitc.ttf") format("truetype");
}

:root {
  --background-header: url("../img/background.JPG");
  --height-header: 100vh;
  --height-header-sections-1024: 80vh;
  --font-general: "bradhitc";
  --font-size-menu-links-mobile: 1.2rem;
  --font-size-menu-links-768: 2rem;
  --font-size-menu-links-1024: 1.2rem;
  --font-size-header-title-mobile: 4rem;
  --font-size-header-title-tablet: 5rem;
  --font-size-header-title-desktop: 8rem;
  --font-size-header-text-mobile: 1.5rem;
  --font-size-header-text-768: 2rem;
  --font-size-header-text-desktop: 2.5rem;
  --font-size-section-title-mobile: 1.5rem;
  --font-size-section-title-768: 2rem;
  --font-size-section-text-768: 1.2rem;
  --width-logo-menu-mobile: 5rem;
  --color-text-header: white;
  --width-logo-header-mobile: 70%;
  --width-logo-header-descktop: 40%;
  --paddin-and-margin-for-sections: 6rem;
}

.main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.info-box {
  display: flex;
  flex-direction: column;
}
/**********************************background header-menu********************/
.menu,
.header {
  background-image: var(--background-header);
}

.header {
  background-repeat: no-repeat;
  background-size: cover;
}

/**********************************Menu********************/
.menu {
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  position: fixed;
  width: 100%;
  top: 0;

  border-top: 0.5px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.menu__box-logo-icon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.menu__logo {
  align-self: flex-start;
  margin: auto;
  width: 5rem;
  height: 100%;
  margin-left: 0;
}

.menu__logo img {
  width: 100%;
  height: auto;
}

.icon {
  height: 100%;
}

.menu__ul {
  width: 100%;
  height: 100vh;
  animation: grow 1s;
}

.menu__li {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu__link {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.3rem 0;
  width: 100%;
  display: block;
  border: 1px solid black;
  color: white;
}

.menu-visible {
  display: block;
  opacity: 0.9;
}

.menu-hidden {
  display: none;
}

.menu__link > .gitlab {
  color: rgb(240, 43, 43);
  font-size: 1.8rem;
}

/************************Header - Sections*******************/
.header,
.section__verano,
.section__devscola {
  height: var(--height-header);
}

.header,
.section__howToUse,
.section__expectations,
.section__devscola {
  padding-top: var(--paddin-and-margin-for-sections);
}

/*****************************Header************************/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--height-header);

  font-family: var(--font-general);
}

.header__title {
  margin-top: 2rem;
  font-size: var(--font-size-header-title-mobile);
}

.header__image-box {
  margin-top: 1rem;
  width: var(--width-logo-header-mobile);
  height: auto;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__text {
  font-size: var(--font-size-header-text-mobile);
  color: var(--color-text-header);
  font-weight: bold;
}

/**********************************Section********************/
.section-box {
  padding: 0 1rem;
}

.section__title,
.section__subtitle {
  font-size: var(--font-size-section-title-mobile);
  text-align: center;
}

.section__subtitle {
  margin-top: 1rem;
}

.section__text {
  margin-top: 1rem;
}

.section__verano {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__howToUse-img__items {
  width: 100%;
  height: auto;
}

.section__howToUse-text {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

.section__howToUse-img__items img {
  width: 100%;
  height: auto;
}

.section__howToUse-img__items img {
  box-shadow: 0.5px 0.5px 5px 5px rgba(0, 0, 0, 0.2);
}

.section__devscola {
  height: 100%;
  margin-top: 5rem;
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0.34217436974789917) 100%, rgba(0, 212, 255, 1) 100%), url(../img/cova2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
}

.section__devscola .section__title,
.section__devscola .section__text {
  color: white;
}

.section__devscola {
  -webkit-box-shadow: 1px 2px 16px 7px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 2px 15px 2px rgba(0, 0, 0, 0.35);
}

.section__devscola .section-box {
  padding-bottom: 6rem;
}

/*****************************************media querie 500***********************************/
@media (min-width: 500px) {
  .header__title {
    margin-top: 2rem;
    font-size: var(--font-size-header-title-tablet);
  }
}

/*****************************************media querie 768***********************************/
@media (min-width: 768px) {
  /****************Menu********************/
  .menu__link {
    font-size: var(--font-size-menu-links-768);
  }

  .menu__link:hover {
    color: white;
  }

  /****************Header********************/
  .header__text {
    font-size: var(--font-size-header-text-768);
  }

  /****************Sections********************/
  .section-box {
    padding: 0 2rem;
  }

  .section__title,
  .section__subtitle {
    font-size: 2rem;
  }

  .section__text {
    font-size: 1.2rem;
  }

  .section__howToUse-img__items {
    margin-top: 5rem;
  }

  .section__howToUse-text {
    margin-block-end: 1.5rem;
    font-size: 2rem;
  }
}

/*****************************************media querie 1024***********************************/
@media (min-width: 1024px) {
  /*******************************main-box********************/
  .main-box {
    display: flex;
    flex-direction: row;
  }

  /****************Menu********************/
  .menu {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 20%;
    height: 100vh;

    border-top: unset;
    border-bottom: unset;
    box-shadow: unset;
  }

  .menu__box-logo-icon {
    display: none;
  }

  .menu__ul {
    width: 100%;
    height: 100vh;
    animation: unset;
    border: 1px solid black;
  }

  .menu__li {
    background-color: var(--menu-color);
  }

  .menu__link {
    color: black;
    font-size: var(--font-size-menu-links-1024);
    border-right: unset;
    border-left: unset;
    border-top: unset;
  }

  .menu-hidden {
    display: block;
  }

  /*******************************info box********************/
  .info-box {
    width: 80%;
  }

  /************************Header - Sections*******************/
  .header,
  .section__verano,
  .section__devscola {
    padding-top: unset;
    height: var(--height-header);
  }

  /*****************Header********************/
  .header {
    justify-content: center;
  }

  .header__title {
    margin-top: unset;
    font-size: var(--font-size-header-title-desktop);
  }

  .header__image-box {
    margin-top: unset;
    width: var(--width-logo-header-descktop);
    height: auto;
  }

  .header__text {
    font-size: var(--font-size-header-text-desktop);
  }

  /*****************Sections********************/
  .section-box {
    padding: 0 5rem;
  }

  .section__title,
  .section__subtitle {
    font-size: 3rem;
  }

  .section__text {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .section__howToUse-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .section__expectations-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .section__howToUse-img__items {
    width: 45%;
    height: auto;
    margin-top: unset;
  }

  .section__howToUse-text {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }

  .section__howToUse-img__items img {
    width: 100%;
    height: auto;
  }

  .section__devscola {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*****************************************media querie 1200***********************************/
@media (min-width: 1200px) {
  /****************Menu********************/
  .menu {
    width: 10%;
  }

  .menu__box-logo-icon {
    display: none;
  }

  .menu-hidden {
    display: block;
  }
  /*******************************info box********************/
  .info-box {
    width: 90%;
  }

  /*****************Sections********************/

  .section__howToUse-img__items {
    width: 25%;
    height: auto;
  }
}
