:root{
  --fail-color: red;
  --pass-color: forestgreen;
  --skip-color: darkgray;
}

html {
  box-sizing: border-box;
  font-family: monospace;
}

*,
*::after,
*::before,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  margin: 0 10rem 1rem 10rem;
}

pre {
  display: contents;
}

.center-test-counts {
  display: flex;
  gap: 3rem;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
}

.sticky-on-top {
  position: sticky;
  top: 0;
  background: #E8E8E8;
  padding: 0.5rem;
  border-radius: 0 0 10px 10px;
}

.suite-description{
  margin: 0.5rem;
  font-size: 30px;
}

.test {
  padding: 0.5rem;
}

.passes {
  color: var(--pass-color);
  background-color: #d6f5d6;
}

.fails {
  color: var(--fail-color);
  background-color: #f9d1d1;
}

.syntax-error {
  color: var(--fail-color);
  font-size: 30px;
  text-align: center;
  background-color: #f9d1d1;
  padding: 0.5rem 0;
}

.skips {
  color: var(--skip-color);
}

.skip {
  color: var(--skip-color);
  background-color: #f0f0f0;
}

.error-trace{
  color: var(--fail-color);
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.error-message {
  background-color: #f9d1d1;
  padding: 1rem;
}

.expected-message{
  margin-left: 2rem;
  background-color: #fe9c9c;
  border-radius: 10px;
  width: auto;
  display: inline-block;
  padding: 0.5rem;
}

#passing-test-count{
  color: var(--pass-color);
}

#failing-test-count{
  color: var(--fail-color);
}

#skipping-test-count{
  color: var(--skip-color);
}

.instructions {
  font-size: x-large;
}

.instructions-title {
  color: var(--pass-color);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.instructions-code {
  margin-top: 0.5em;
  color: black;
}

.instructions-step {
  color: var(--pass-color);
}

.instructions-higthlight {
  color: crimson;
}

.instructions-code {
  color: darkgray;
}
